@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/*PAG.INICIO*/
*{
  padding: 0;
  margin: 0;
}
p {
  margin: 0,1cm;
}
  body {
    background-color: #0E68AF;
  }
  p {
    padding: 0px;
  }
  .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inicio-title {
    font-size: 45px;
    font-family: Dongle;
    color: white;
  }
  .inicio-subtitle {
    margin: 0;
    font-size: 15px;
    font-family: Dongle;
    color: white;
  }

  .ring {
    --uib-size: 40px;
    --uib-speed: 2s;
    --uib-color: black;
    
    height: var(--uib-size);
    width: var(--uib-size);
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
  }
  
  .ring circle {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  }
  
  /*LOADER*/
  .loader {
    padding-left: 45%;
    padding-bottom: 10px;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes stretch {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -124px;
    }
  }
  
/*PAG.INICIO*/