@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/*PAG.INICIO*/
body {
  background-color: #0E68AF;
}
  .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inicio-title {
    font-size: 45px;
    font-family: Dongle;
    color: white;
  }
  .inicio-subtitle {
    font-size: 15px;
    font-family: Dongle;
    color: white;
  }
/*PAG.INICIO*/