.contenedor {
    padding: 50px 3vh;
}
.buscador{
    display: grid;
    margin-top: 50px;
    place-items: center;
}
.buscador-text{
    width: 500px;
    height: 38px;
    margin-right: 5px;
}
.btn-buscar{
    width: 150px;
}
.contenedor-mapa-result{
    display: grid;
    margin-top: 50px;
    place-items: center;
}
.contenedor-mapa{
    height: 620px;
}
.row-buscador {
    display: flex;
    align-items: flex-start;
}
.center-buscador{
    display: grid;
    place-items: center;
}
.script-mapa{
    position: absolute;    
}
