.contenedor {
    padding: 50px 3vh;
}
.buscador{
    display: grid;
    margin-top: 50px;
    place-items: center;
}
.buscador-text{
    width: 500px;
    height: 38px;
    margin-right: 5px;
}
.btn-buscar{
    width: 150px;
}
.contenedor-mapa-result{
    display: grid;
    margin-top: 50px;
    place-items: center;
}
.contenedor-mapa{
    height: 620px;
}
.row-buscador {
    display: flex;
    align-items: flex-start;
}
.center-buscador{
    display: grid;
    place-items: center;
}
.script-mapa{
    position: absolute;    
}

/*MENU HAMBURGUESA*/
.active{
  transform: translate(-600px);
}
.opacity{
  background-color: rgba(0red, 0, 0, 0.5);
  transition: all .5s ease;
}
.menu-hamburguesa-desplegable{
  background-color: rgb(42, 42,42);
  box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
}
.menu-hamburguesa-desplegable ul{
  padding: 100px 0px 20px 0px;
  list-style: none;
}
.menu-hamburguesa-desplegable ul li{
  color: white;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
}
.menu-hamburguesa-desplegable ul li:hover{
  background-color: rgb(228, 228,228);
  color: rgb(42, 42,42);
}
  /*MENU HAMBURGUESA*/